.container-main {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px;
}

.content-main {
  max-width: 1120px;
  
  padding: 30px 10px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-main{
  margin: 20px 0;
  padding: 10px;

  font-size: 16px;

  border: 0;
  border-radius: 8px;
}

.loading-more {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #c5c5c5;
  cursor: pointer;
  padding: 20px 0;
}